# Table of Contents
### 01. Importing Libraries
### 02. Importing dataframes
### 03. Data consistency checks
### 04. Export Data

# 01 Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Importing dataframe

In [2]:
# Importing SDG 2023 dataframe
sdg_2022=pd.read_csv(('../02 Data/Original Data/sdg_index_2000-2022.csv'),index_col=False)
sdg_2022.head()

,country_code,country,year,sdg_index_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,AFG,Afghanistan,2000,36.0,28.8,27.3,19.2,1.6,20.8,32.4,...,38.5,5.2,0.0,25.8,94.7,99.4,0.0,51.9,39.2,34.2
1,AFG,Afghanistan,2001,36.3,28.8,30.6,19.4,1.6,20.8,32.4,...,38.5,5.2,0.0,25.8,94.5,99.4,0.0,51.9,39.2,34.2
2,AFG,Afghanistan,2002,36.3,28.8,30.7,19.7,1.6,20.8,32.7,...,38.4,5.2,0.0,26.1,94.1,99.4,0.0,51.8,39.2,34.2
3,AFG,Afghanistan,2003,36.7,28.8,32.5,19.9,1.6,20.8,33.0,...,38.4,5.2,0.0,26.5,94.4,99.4,0.0,51.8,39.2,34.2
4,AFG,Afghanistan,2004,37.1,28.8,32.1,21.1,1.6,20.8,33.3,...,38.5,5.2,0.0,26.8,94.8,99.4,0.0,51.8,39.2,34.2

# 03. Data consistency checks

In [3]:
sdg_2022.describe()

,year,sdg_index_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,goal_7_score,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
count,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000
mean,2011.000000,63.685435,64.815628,57.735531,64.045652,71.990048,55.803309,63.963188,57.340966,69.839493,37.114444,52.369662,69.931739,79.680338,81.925870,48.565097,64.662802,62.194903,55.538720
std,6.634051,10.776469,36.098836,11.121524,22.354993,26.561757,17.281101,15.362064,21.490869,10.004358,25.883834,31.254386,18.171193,16.732118,21.346259,28.007749,13.408318,14.568598,13.017388
min,2000.000000,36.000000,0.000000,7.700000,5.900000,0.000000,3.500000,11.300000,0.100000,38.400000,0.000000,0.000000,13.800000,32.900000,0.000000,0.000000,26.000000,27.900000,15.100000
25%,2005.000000,55.075000,31.500000,52.400000,44.800000,57.375000,43.200000,52.300000,41.300000,64.100000,15.700000,23.900000,55.600000,69.400000,72.800000,42.200000,55.100000,51.600000,46.000000
50%,2011.000000,65.100000,81.000000,58.900000,70.200000,80.600000,57.500000,64.400000,64.450000,70.000000,29.700000,53.850000,75.000000,84.800000,90.900000,59.000000,64.400000,61.000000,54.900000
75%,2017.000000,72.000000,98.600000,65.300000,81.300000,94.400000,68.700000,74.300000,72.000000,76.400000,52.700000,79.925000,84.600000,94.100000,97.200000,67.200000,73.900000,73.500000,64.900000
max,2022.000000,86.800000,100.000000,83.400000,97.300000,100.000000,94.000000,95.100000,99.600000,93.600000,99.200000,100.000000,99.900000,99.000000,99.900000,91.200000,97.900000,96.000000,100.000000

In [4]:
#change data type
sdg_2022['country_code']=sdg_2022['country_code'].astype('category')
sdg_2022['country']=sdg_2022['country'].astype('category')
sdg_2022['year']=sdg_2022['year'].astype('category')

In [5]:
#Check for mixed data type
for col in sdg_2022.columns.tolist():
  weird = (sdg_2022[[col]].applymap(type) != sdg_2022[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (sdg_2022[weird]) > 0:
    print (col)

No mixed data type

In [6]:
# Finding Missing data in sdg_2022 dataframe
sdg_2022.isnull().sum()

country_code       0
country            0
year               0
sdg_index_score    0
goal_1_score       0
goal_2_score       0
goal_3_score       0
goal_4_score       0
goal_5_score       0
goal_6_score       0
goal_7_score       0
goal_8_score       0
goal_9_score       0
goal_10_score      0
goal_11_score      0
goal_12_score      0
goal_13_score      0
goal_14_score      0
goal_15_score      0
goal_16_score      0
goal_17_score      0
dtype: int64

No missing values found

In [7]:
# Finding Duplicates in sdg_2023 dataframe
df_dups=sdg_2022[sdg_2022.duplicated()]

In [8]:
df_dups

Empty DataFrame
Columns: [country_code, country, year, sdg_index_score, goal_1_score, goal_2_score, goal_3_score, goal_4_score, goal_5_score, goal_6_score, goal_7_score, goal_8_score, goal_9_score, goal_10_score, goal_11_score, goal_12_score, goal_13_score, goal_14_score, goal_15_score, goal_16_score, goal_17_score]
Index: []

[0 rows x 21 columns]

No Dublicate values

In [9]:
# Ranaming sdg_index_score column
sdg_2022.rename(columns={'sdg_index_score':'overall_score'}, inplace=True)
sdg_2022.head()

,country_code,country,year,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,AFG,Afghanistan,2000,36.0,28.8,27.3,19.2,1.6,20.8,32.4,...,38.5,5.2,0.0,25.8,94.7,99.4,0.0,51.9,39.2,34.2
1,AFG,Afghanistan,2001,36.3,28.8,30.6,19.4,1.6,20.8,32.4,...,38.5,5.2,0.0,25.8,94.5,99.4,0.0,51.9,39.2,34.2
2,AFG,Afghanistan,2002,36.3,28.8,30.7,19.7,1.6,20.8,32.7,...,38.4,5.2,0.0,26.1,94.1,99.4,0.0,51.8,39.2,34.2
3,AFG,Afghanistan,2003,36.7,28.8,32.5,19.9,1.6,20.8,33.0,...,38.4,5.2,0.0,26.5,94.4,99.4,0.0,51.8,39.2,34.2
4,AFG,Afghanistan,2004,37.1,28.8,32.1,21.1,1.6,20.8,33.3,...,38.5,5.2,0.0,26.8,94.8,99.4,0.0,51.8,39.2,34.2

In [10]:
sdg_2022.describe()

,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,goal_7_score,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
count,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000
mean,63.685435,64.815628,57.735531,64.045652,71.990048,55.803309,63.963188,57.340966,69.839493,37.114444,52.369662,69.931739,79.680338,81.925870,48.565097,64.662802,62.194903,55.538720
std,10.776469,36.098836,11.121524,22.354993,26.561757,17.281101,15.362064,21.490869,10.004358,25.883834,31.254386,18.171193,16.732118,21.346259,28.007749,13.408318,14.568598,13.017388
min,36.000000,0.000000,7.700000,5.900000,0.000000,3.500000,11.300000,0.100000,38.400000,0.000000,0.000000,13.800000,32.900000,0.000000,0.000000,26.000000,27.900000,15.100000
25%,55.075000,31.500000,52.400000,44.800000,57.375000,43.200000,52.300000,41.300000,64.100000,15.700000,23.900000,55.600000,69.400000,72.800000,42.200000,55.100000,51.600000,46.000000
50%,65.100000,81.000000,58.900000,70.200000,80.600000,57.500000,64.400000,64.450000,70.000000,29.700000,53.850000,75.000000,84.800000,90.900000,59.000000,64.400000,61.000000,54.900000
75%,72.000000,98.600000,65.300000,81.300000,94.400000,68.700000,74.300000,72.000000,76.400000,52.700000,79.925000,84.600000,94.100000,97.200000,67.200000,73.900000,73.500000,64.900000
max,86.800000,100.000000,83.400000,97.300000,100.000000,94.000000,95.100000,99.600000,93.600000,99.200000,100.000000,99.900000,99.000000,99.900000,91.200000,97.900000,96.000000,100.000000

# 04. Export Data

In [11]:
# Export sdg_2022 Clean data to pkl
sdg_2022.to_csv('../02 Data/Prepared Data/sdg_2000-2022_clean.csv')