# Table of Contents
### 01. Importing Libraries
### 02. Importing dataframes
### 03. Merging dataframes
### 04. Export Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing SDG 2023 clean dataframe
sdg_2023=pd.read_csv(('../02 Data/Prepared Data/sdg_2023_clean.csv'),index_col=0)
sdg_2023.head()

,country_code,country,year,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,FIN,Finland,2023,86.760595,99.5750,60.886750,95.386385,97.169333,92.11125,94.3276,...,86.789000,95.995714,98.4685,91.23375,60.059571,68.793667,87.928000,85.0700,92.521091,75.60100
1,SWE,Sweden,2023,85.981397,98.8885,63.074125,96.904000,99.761667,91.44025,95.0576,...,84.966429,97.586286,94.9650,90.38925,56.830571,70.031000,69.348667,80.1882,88.508455,85.77025
2,DNK,Denmark,2023,85.683637,99.2155,71.025250,95.398500,99.339667,86.99800,90.7316,...,87.562429,96.984857,98.1560,93.03850,44.571714,60.780667,76.303333,92.7924,93.844909,82.14800
3,DEU,Germany,2023,83.358447,99.5105,72.366000,93.039357,97.162667,81.92025,88.4434,...,86.967286,95.788429,88.1470,90.09650,55.412857,64.002000,73.996000,79.2318,89.457545,84.39025
5,FRA,France,2023,82.048343,99.7285,72.390125,93.224571,99.630000,87.82325,89.2696,...,85.306000,92.775857,87.4735,90.52950,60.515429,73.834667,65.677500,68.8246,76.091727,73.11150

In [3]:
# Importing SDG 2000-2022 clean dataframe
sdg_2022=pd.read_csv(('../02 Data/Prepared Data/sdg_2000-2022_clean.csv'),index_col=0)
sdg_2022.head()

,country_code,country,year,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,AFG,Afghanistan,2000,36.0,28.8,27.3,19.2,1.6,20.8,32.4,...,38.5,5.2,0.0,25.8,94.7,99.4,0.0,51.9,39.2,34.2
1,AFG,Afghanistan,2001,36.3,28.8,30.6,19.4,1.6,20.8,32.4,...,38.5,5.2,0.0,25.8,94.5,99.4,0.0,51.9,39.2,34.2
2,AFG,Afghanistan,2002,36.3,28.8,30.7,19.7,1.6,20.8,32.7,...,38.4,5.2,0.0,26.1,94.1,99.4,0.0,51.8,39.2,34.2
3,AFG,Afghanistan,2003,36.7,28.8,32.5,19.9,1.6,20.8,33.0,...,38.4,5.2,0.0,26.5,94.4,99.4,0.0,51.8,39.2,34.2
4,AFG,Afghanistan,2004,37.1,28.8,32.1,21.1,1.6,20.8,33.3,...,38.5,5.2,0.0,26.8,94.8,99.4,0.0,51.8,39.2,34.2

In [5]:
# Merge sdg_2023 and sdg_2022 on "order_id" column
df_merged=pd.concat([sdg_2022,sdg_2023],ignore_index=True)
df_merged

,country_code,country,year,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,AFG,Afghanistan,2000,36.000000,28.8000,27.300000,19.200000,1.600000,20.80000,32.4000,...,38.500000,5.200000,0.0000,25.800000,94.700000,99.400000,0.000000,51.9000,39.200000,34.200000
1,AFG,Afghanistan,2001,36.300000,28.8000,30.600000,19.400000,1.600000,20.80000,32.4000,...,38.500000,5.200000,0.0000,25.800000,94.500000,99.400000,0.000000,51.9000,39.200000,34.200000
2,AFG,Afghanistan,2002,36.300000,28.8000,30.700000,19.700000,1.600000,20.80000,32.7000,...,38.400000,5.200000,0.0000,26.100000,94.100000,99.400000,0.000000,51.8000,39.200000,34.200000
3,AFG,Afghanistan,2003,36.700000,28.8000,32.500000,19.900000,1.600000,20.80000,33.0000,...,38.400000,5.200000,0.0000,26.500000,94.400000,99.400000,0.000000,51.8000,39.200000,34.200000
4,AFG,Afghanistan,2004,37.100000,28.8000,32.100000,21.100000,1.600000,20.80000,33.3000,...,38.500000,5.200000,0.0000,26.800000,94.800000,99.400000,0.000000,51.8000,39.200000,34.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4242,LBR,Liberia,2023,49.883810,26.3980,47.776143,32.815077,37.133250,44.10800,53.0020,...,66.446143,11.586286,72.1075,29.805000,96.122600,98.843000,83.527167,48.1982,41.012909,45.861500
4243,COD,"Congo, Dem. Rep.",2023,48.581701,8.1545,51.681375,34.237143,42.659667,43.17475,43.1840,...,60.480571,14.408000,43.0305,35.670000,97.676167,99.560667,77.886750,69.7746,36.177222,39.279000
4244,SDN,Sudan,2023,48.552594,32.5415,21.898333,51.921429,31.795500,42.60925,32.6000,...,44.178857,15.400286,75.0325,34.808000,97.250200,99.139000,61.722800,49.2490,43.848200,36.279750
4245,SOM,Somalia,2023,48.027231,11.2740,27.306833,17.860923,55.639000,25.86100,49.3006,...,55.669500,5.599857,73.8030,69.417667,94.129000,99.925333,50.251200,53.3714,40.012200,43.725667
4246,YEM,"Yemen, Rep.",2023,46.846980,4.5525,28.769714,44.467429,41.766750,13.05475,36.2314,...,53.237800,14.223714,66.2925,52.952750,95.959143,98.667000,74.936667,48.3705,35.905714,50.094333

In [6]:
df_merged.isnull().sum()

country_code     0
country          0
year             0
overall_score    0
goal_1_score     0
goal_2_score     0
goal_3_score     0
goal_4_score     0
goal_5_score     0
goal_6_score     0
goal_7_score     0
goal_8_score     0
goal_9_score     0
goal_10_score    0
goal_11_score    0
goal_12_score    0
goal_13_score    0
goal_14_score    0
goal_15_score    0
goal_16_score    0
goal_17_score    0
dtype: int64

In [9]:
#change data type
df_merged['year']=df_merged['year'].astype('category')

In [10]:
df_merged.describe()

,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,goal_7_score,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
count,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000
mean,63.810287,65.176286,57.794174,64.225798,72.176887,55.985601,64.074543,57.486799,69.912924,37.573592,52.613359,70.002384,79.674469,81.978055,49.015592,64.713160,62.192049,55.677464
std,10.788753,35.974981,11.112886,22.328609,26.456557,17.320707,15.349202,21.472004,10.027497,26.062037,31.177232,18.150558,16.717471,21.271097,27.849283,13.431565,14.610898,13.046680
min,36.000000,0.000000,7.700000,5.900000,0.000000,3.500000,11.300000,0.100000,38.400000,0.000000,0.000000,13.800000,32.900000,0.000000,0.000000,26.000000,27.900000,15.100000
25%,55.108814,31.900000,52.400000,45.200000,57.450000,43.300000,52.400000,41.500000,64.200000,15.800000,24.100000,55.610000,69.400000,72.900000,43.653250,55.100000,51.600000,46.150000
50%,65.200000,81.200000,59.000000,70.400000,80.800000,57.600000,64.600000,64.500000,70.100000,30.200000,53.942500,75.100000,84.800000,90.900000,59.200000,64.500000,61.000000,55.000000
75%,72.100000,98.600000,65.400000,81.400000,94.500000,68.900000,74.500000,72.100000,76.550000,53.750000,80.200000,84.800000,94.100000,97.123750,67.500000,73.900000,73.500000,65.000000
max,86.800000,100.000000,83.401125,97.300000,100.000000,94.021667,95.100000,99.600000,93.600000,99.200000,100.000000,99.900000,99.000000,99.925333,91.200000,97.900000,96.000000,100.000000

In [11]:
# Export df_merged data to csv
df_merged.to_csv('../02 Data/Prepared Data/sdg merged.csv')