# Table of Contents
### 01. Importing Libraries
### 02. Importing dataframes
### 03. Data consistency checks
### 04. Export Data

# 01 Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Importing dataframe

In [2]:
# Importing SDG 2023 dataframe
sdg_2023=pd.read_csv(('../02 Data/Original Data/sdg_2023.csv'),index_col=False)
sdg_2023.head()

,country_code,country,region,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,FIN,Finland,OECD,86.760595,99.5750,60.886750,95.386385,97.169333,92.11125,94.3276,...,86.789000,95.995714,98.4685,91.233750,60.059571,68.793667,87.928000,85.0700,92.521091,75.60100
1,SWE,Sweden,OECD,85.981397,98.8885,63.074125,96.904000,99.761667,91.44025,95.0576,...,84.966429,97.586286,94.9650,90.389250,56.830571,70.031000,69.348667,80.1882,88.508455,85.77025
2,DNK,Denmark,OECD,85.683637,99.2155,71.025250,95.398500,99.339667,86.99800,90.7316,...,87.562429,96.984857,98.1560,93.038500,44.571714,60.780667,76.303333,92.7924,93.844909,82.14800
3,DEU,Germany,OECD,83.358447,99.5105,72.366000,93.039357,97.162667,81.92025,88.4434,...,86.967286,95.788429,88.1470,90.096500,55.412857,64.002000,73.996000,79.2318,89.457545,84.39025
4,AUT,Austria,OECD,82.280189,99.4510,73.067500,92.468000,97.914333,84.57925,92.1636,...,83.274143,96.982143,94.6345,92.473667,49.623286,57.332000,NaN,73.5836,87.911455,71.13025

# 03. Data consistency checks

In [3]:
sdg_2023.describe()

,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,goal_7_score,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
count,166.000000,151.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,149.000000,166.000000,166.000000,166.000000,126.000000,166.000000,166.000000,166.000000
mean,67.549197,75.234401,59.799100,69.694078,76.512968,63.285420,66.710744,61.413598,71.952935,51.600648,62.917889,72.181106,79.775904,82.119387,65.494968,66.637486,61.546404,60.954819
std,10.295499,31.169948,10.620853,20.354575,23.181919,16.399691,14.091641,20.364351,10.592308,26.561680,27.348955,18.215526,16.092924,21.175602,11.475977,14.175602,15.517449,12.991856
min,38.676086,0.000000,19.805800,12.952714,1.232250,13.054750,32.600000,8.697000,39.535000,1.654833,0.000000,13.826250,37.729429,0.000000,36.579400,26.477500,29.438000,29.350000
25%,60.547488,55.779250,54.007188,51.860089,61.417938,51.046250,55.237250,47.521312,66.426857,30.206464,41.608000,59.969813,68.592464,72.543000,57.647625,56.606900,49.029477,50.854917
50%,69.376528,93.300500,61.027500,75.437629,84.772875,65.869875,67.878000,68.612750,73.157643,48.168798,69.700500,76.851500,84.566024,90.903000,65.412250,66.295700,60.908687,60.805000
75%,74.947511,98.950750,67.264335,85.524428,95.644063,76.137000,76.044200,74.364000,79.626036,74.713036,84.612500,86.499437,94.084750,96.710875,72.992375,76.585000,73.716061,71.647188
max,86.760595,100.000000,83.401125,97.115143,99.761667,94.021667,95.057600,99.550750,93.382750,99.128857,100.000000,99.858000,98.811200,99.925333,90.394750,97.849000,93.844909,94.026500

In [4]:
#Check for mixed data type
for col in sdg_2023.columns.tolist():
  weird = (sdg_2023[[col]].applymap(type) != sdg_2023[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (sdg_2023[weird]) > 0:
    print (col)

No mixed data type

In [5]:
# Finding Missing data in sdg_2023 dataframe
sdg_2023.isnull().sum()

country_code      0
country           0
region            0
overall_score     0
goal_1_score     15
goal_2_score      0
goal_3_score      0
goal_4_score      0
goal_5_score      0
goal_6_score      0
goal_7_score      0
goal_8_score      0
goal_9_score      0
goal_10_score    17
goal_11_score     0
goal_12_score     0
goal_13_score     0
goal_14_score    40
goal_15_score     0
goal_16_score     0
goal_17_score     0
dtype: int64

In [6]:
sdg_2023.dropna()

,country_code,country,region,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,FIN,Finland,OECD,86.760595,99.5750,60.886750,95.386385,97.169333,92.11125,94.3276,...,86.789000,95.995714,98.4685,91.233750,60.059571,68.793667,87.928000,85.0700,92.521091,75.601000
1,SWE,Sweden,OECD,85.981397,98.8885,63.074125,96.904000,99.761667,91.44025,95.0576,...,84.966429,97.586286,94.9650,90.389250,56.830571,70.031000,69.348667,80.1882,88.508455,85.770250
2,DNK,Denmark,OECD,85.683637,99.2155,71.025250,95.398500,99.339667,86.99800,90.7316,...,87.562429,96.984857,98.1560,93.038500,44.571714,60.780667,76.303333,92.7924,93.844909,82.148000
3,DEU,Germany,OECD,83.358447,99.5105,72.366000,93.039357,97.162667,81.92025,88.4434,...,86.967286,95.788429,88.1470,90.096500,55.412857,64.002000,73.996000,79.2318,89.457545,84.390250
5,FRA,France,OECD,82.048343,99.7285,72.390125,93.224571,99.630000,87.82325,89.2696,...,85.306000,92.775857,87.4735,90.529500,60.515429,73.834667,65.677500,68.8246,76.091727,73.111500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,LBR,Liberia,Sub-Saharan Africa,49.883810,26.3980,47.776143,32.815077,37.133250,44.10800,53.0020,...,66.446143,11.586286,72.1075,29.805000,96.122600,98.843000,83.527167,48.1982,41.012909,45.861500
158,COD,"Congo, Dem. Rep.",Sub-Saharan Africa,48.581701,8.1545,51.681375,34.237143,42.659667,43.17475,43.1840,...,60.480571,14.408000,43.0305,35.670000,97.676167,99.560667,77.886750,69.7746,36.177222,39.279000
159,SDN,Sudan,Sub-Saharan Africa,48.552594,32.5415,21.898333,51.921429,31.795500,42.60925,32.6000,...,44.178857,15.400286,75.0325,34.808000,97.250200,99.139000,61.722800,49.2490,43.848200,36.279750
161,SOM,Somalia,Sub-Saharan Africa,48.027231,11.2740,27.306833,17.860923,55.639000,25.86100,49.3006,...,55.669500,5.599857,73.8030,69.417667,94.129000,99.925333,50.251200,53.3714,40.012200,43.725667
162,YEM,"Yemen, Rep.",MENA,46.846980,4.5525,28.769714,44.467429,41.766750,13.05475,36.2314,...,53.237800,14.223714,66.2925,52.952750,95.959143,98.667000,74.936667,48.3705,35.905714,50.094333

In [22]:
sdg_2023=sdg_2023.dropna()

In [23]:
sdg_2023.isnull().sum()

country_code     0
country          0
year             0
overall_score    0
goal_1_score     0
goal_2_score     0
goal_3_score     0
goal_4_score     0
goal_5_score     0
goal_6_score     0
goal_7_score     0
goal_8_score     0
goal_9_score     0
goal_10_score    0
goal_11_score    0
goal_12_score    0
goal_13_score    0
goal_14_score    0
goal_15_score    0
goal_16_score    0
goal_17_score    0
dtype: int64

In [7]:
sdg_2023=sdg_2023.drop(columns= ['region'])

In [8]:
# Add year column to the dataframe
sdg_2023.insert(2,'year',2023)

In [24]:
sdg_2023.head()

,country_code,country,year,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,FIN,Finland,2023,86.760595,99.5750,60.886750,95.386385,97.169333,92.11125,94.3276,...,86.789000,95.995714,98.4685,91.23375,60.059571,68.793667,87.928000,85.0700,92.521091,75.60100
1,SWE,Sweden,2023,85.981397,98.8885,63.074125,96.904000,99.761667,91.44025,95.0576,...,84.966429,97.586286,94.9650,90.38925,56.830571,70.031000,69.348667,80.1882,88.508455,85.77025
2,DNK,Denmark,2023,85.683637,99.2155,71.025250,95.398500,99.339667,86.99800,90.7316,...,87.562429,96.984857,98.1560,93.03850,44.571714,60.780667,76.303333,92.7924,93.844909,82.14800
3,DEU,Germany,2023,83.358447,99.5105,72.366000,93.039357,97.162667,81.92025,88.4434,...,86.967286,95.788429,88.1470,90.09650,55.412857,64.002000,73.996000,79.2318,89.457545,84.39025
5,FRA,France,2023,82.048343,99.7285,72.390125,93.224571,99.630000,87.82325,89.2696,...,85.306000,92.775857,87.4735,90.52950,60.515429,73.834667,65.677500,68.8246,76.091727,73.11150

In [25]:
sdg_2023.shape

(107, 21)

In [26]:
# Finding Duplicates in sdg_2023 dataframe
df_dups=sdg_2023[sdg_2023.duplicated()]

In [27]:
df_dups

Empty DataFrame
Columns: [country_code, country, year, overall_score, goal_1_score, goal_2_score, goal_3_score, goal_4_score, goal_5_score, goal_6_score, goal_7_score, goal_8_score, goal_9_score, goal_10_score, goal_11_score, goal_12_score, goal_13_score, goal_14_score, goal_15_score, goal_16_score, goal_17_score]
Index: []

[0 rows x 21 columns]

No Dublicate values

In [28]:
sdg_2023.describe()

,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,goal_7_score,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
count,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000
mean,68.641016,79.130724,60.063141,71.195926,79.405958,63.038766,68.383014,63.129298,72.754105,55.338754,62.042393,72.735756,79.447391,83.997188,66.445975,66.661596,62.081604,61.045685
std,10.182078,27.499112,10.575028,20.172474,20.848262,17.459498,14.253916,20.019515,10.547021,26.838036,26.477138,17.191546,16.215006,18.095062,11.075423,14.231691,16.238063,13.106938
min,46.846980,3.154500,21.898333,17.860923,24.333667,13.054750,32.600000,11.800500,43.471333,5.599857,0.000000,29.442250,37.729429,9.832667,37.539200,27.409750,32.488000,30.077000
25%,61.814047,62.917000,54.108312,52.366750,62.629417,48.006125,57.688500,49.440625,66.506905,34.137214,41.944000,61.781125,69.346381,77.760750,59.757000,55.869533,48.940950,51.004625
50%,70.434238,93.958500,61.065875,77.652143,88.012250,65.436500,69.018000,69.855750,74.555143,53.870143,69.075000,76.902000,83.606600,91.005667,65.790200,66.098200,60.786556,60.717500
75%,76.359755,98.998500,67.527875,87.588626,97.166000,76.788750,78.405900,75.030000,81.409214,78.637929,84.426750,86.630000,94.137000,96.447917,73.389333,78.437200,74.508436,70.811125
max,86.760595,100.000000,83.401125,97.115143,99.761667,94.021667,95.057600,99.550750,88.196143,99.128857,100.000000,93.975667,97.892714,99.925333,90.394750,97.849000,93.844909,94.026500

In [29]:
sdg_2023.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 0 to 162
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country_code   107 non-null    category
 1   country        107 non-null    category
 2   year           107 non-null    category
 3   overall_score  107 non-null    float64
 4   goal_1_score   107 non-null    float64
 5   goal_2_score   107 non-null    float64
 6   goal_3_score   107 non-null    float64
 7   goal_4_score   107 non-null    float64
 8   goal_5_score   107 non-null    float64
 9   goal_6_score   107 non-null    float64
 10  goal_7_score   107 non-null    float64
 11  goal_8_score   107 non-null    float64
 12  goal_9_score   107 non-null    float64
 13  goal_10_score  107 non-null    float64
 14  goal_11_score  107 non-null    float64
 15  goal_12_score  107 non-null    float64
 16  goal_13_score  107 non-null    float64
 17  goal_14_score  107 non-null    float64
 18  goal_15_score  107 non-null    float64
 19  goal_16_score  107 non-null    float64
 20  goal_17_score  107 non-null    float64
dtypes: category(3), float64(18)
memory usage: 27.3 KB

In [14]:
#change data type
sdg_2023['country_code']=sdg_2023['country_code'].astype('category')
sdg_2023['country']=sdg_2023['country'].astype('category')

In [15]:
#change data type
sdg_2023['year']=sdg_2023['year'].astype('category')

In [30]:
sdg_2023.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 0 to 162
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country_code   107 non-null    category
 1   country        107 non-null    category
 2   year           107 non-null    category
 3   overall_score  107 non-null    float64
 4   goal_1_score   107 non-null    float64
 5   goal_2_score   107 non-null    float64
 6   goal_3_score   107 non-null    float64
 7   goal_4_score   107 non-null    float64
 8   goal_5_score   107 non-null    float64
 9   goal_6_score   107 non-null    float64
 10  goal_7_score   107 non-null    float64
 11  goal_8_score   107 non-null    float64
 12  goal_9_score   107 non-null    float64
 13  goal_10_score  107 non-null    float64
 14  goal_11_score  107 non-null    float64
 15  goal_12_score  107 non-null    float64
 16  goal_13_score  107 non-null    float64
 17  goal_14_score  107 non-null    float64
 18  goal_15_score  107 non-null    float64
 19  goal_16_score  107 non-null    float64
 20  goal_17_score  107 non-null    float64
dtypes: category(3), float64(18)
memory usage: 27.3 KB

In [31]:
sdg_2023.describe()

,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,goal_7_score,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
count,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000
mean,68.641016,79.130724,60.063141,71.195926,79.405958,63.038766,68.383014,63.129298,72.754105,55.338754,62.042393,72.735756,79.447391,83.997188,66.445975,66.661596,62.081604,61.045685
std,10.182078,27.499112,10.575028,20.172474,20.848262,17.459498,14.253916,20.019515,10.547021,26.838036,26.477138,17.191546,16.215006,18.095062,11.075423,14.231691,16.238063,13.106938
min,46.846980,3.154500,21.898333,17.860923,24.333667,13.054750,32.600000,11.800500,43.471333,5.599857,0.000000,29.442250,37.729429,9.832667,37.539200,27.409750,32.488000,30.077000
25%,61.814047,62.917000,54.108312,52.366750,62.629417,48.006125,57.688500,49.440625,66.506905,34.137214,41.944000,61.781125,69.346381,77.760750,59.757000,55.869533,48.940950,51.004625
50%,70.434238,93.958500,61.065875,77.652143,88.012250,65.436500,69.018000,69.855750,74.555143,53.870143,69.075000,76.902000,83.606600,91.005667,65.790200,66.098200,60.786556,60.717500
75%,76.359755,98.998500,67.527875,87.588626,97.166000,76.788750,78.405900,75.030000,81.409214,78.637929,84.426750,86.630000,94.137000,96.447917,73.389333,78.437200,74.508436,70.811125
max,86.760595,100.000000,83.401125,97.115143,99.761667,94.021667,95.057600,99.550750,88.196143,99.128857,100.000000,93.975667,97.892714,99.925333,90.394750,97.849000,93.844909,94.026500

# 04. Export Data

In [33]:
# Export sdg_2023 Clean data to csv
sdg_2023.to_csv('../02 Data/Prepared Data/sdg_2023_clean.csv')